body {
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(150,4,245,1) 43%, rgba(7,211,240,1) 69%, rgba(3,212,248,1) 81%, rgba(254,254,254,1) 100%);
}
.App {
  text-align: center;
  margin-top: 100px;
  font-family: cursive;
  color: antiquewhite;
  font-size: 30px;
}
button {
  background-color: rgba(3,212,248,1);
  padding: 20px;
  font-family: cursive;
  border: 1px solid rgba(3,212,248,1);
  transition: 1s;
}
button:focus {
  outline-width: 0;
}
button:hover {
  transition: 1s;
  background-color:  rgba(150,4,245,1);
  color: antiquewhite;
}